.create__product__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5vh;
}
.create {
  width: 30%;
}
.create__image__url {
  width: 100%;
}
@media only screen and (max-width: 450px) {
  .create__product__form {
    width: 90%;
    margin: auto;
  }
  .create {
    width: 40%;
    margin: auto;
  }
}
