.cart__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.cart__wrapper span {
  width: 20px;
  text-align: center;
  position: relative;
  margin-right: 5px;
  top: -10px;
  color: yellow;
  font-size: 13pt;
  border-radius: 50%;
  /* background-color: rgb(244, 12, 51); */
}
