.container__products {
  margin-top: 59px;
  text-align: center;
  width: 100%;
  margin: auto;
}
.jumbotron {
  background: url('../../images/phoneshop.jpeg');
  background-repeat: repeat-x;
  padding-top: 279px;
  min-height: 400px;
  background-color: #24588a;
  /* border: solid #24588a 1vh; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.jumbotron h1 {
  color: #1869b5;
  font-weight: bold;
}
.home__search__div {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 20px;
}
.home__search__div select {
  padding: 0px 2rem;
}
.search__result {
  color: brown;
  padding-top: 12px;
}

@media only screen and (max-width: 600px) {
  .container__products {
    width: 100%;
    font-size: medium;
    margin: auto;
  }
  .jumbotron {
    height: 10px;
    width: 100%;
  }
  .home__search__div {
    margin: auto;
    width: 90%;
    flex-direction: row;
  }
  .home__search__div select {
    padding: 0px;
  }
  .home__hl {
    display: none;
  }
}
