.container__products {
  margin-top: 59px;
  text-align: center;
  width: 100%;
  margin: auto;
}
.jumbotron {
  background: url('../../images/mobile-phone-ga542b1fa1_1920.jpg');
  background-repeat: repeat-x;
  padding-top: 150px;
  min-height: 40vmin;
  /* background-color: #24588a; */
  /* border: solid #24588a 1vh; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.jumbotron h1 ,p{
  color: lemonchiffon;
  font-weight: bold;
}
.home__search__div {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 20px;
}
.home__search__div select {
  padding: 0px 1rem;
}
.search__result {
  color: brown;
  padding-top: 12px;
}

@media only screen and (max-width: 600px) {
  .container__products {
    width: 100%;
    font-size: medium;
    margin: auto;
    padding:0.1rem;
  }
  .jumbotron {
    height: 10px;
    width: 100%;
  }
  .home__search__div {
    margin: auto;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  .search__bar{
    width:100% ;
    margin-top:0 !important;
    margin-right: 0 !important;
    margin-bottom: 1px;
    padding: 0.6rem;
  }
  #category{
    width: 50%;
    padding: 0.3rem;
    
  }
  #price{
    width:49%;
    padding: 0.3rem;
  }
  .search{
    width: 100%;
   
    
  }
  .search_bar{
    width: 100%;
    
  }
  .home__search__div select {
    padding: 0px;
  }
  .home__hl {
    display: none;
  }
}
