.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-top: solid white 1px;
  border-left: solid #ffffff 1px;
  top: 0;
  width: 100%;
  margin: auto;
  z-index: 999;
  border-radius: 0.5em;
  //box-shadow: 0 2px 0px 0 rgb(0 0 0 / 15%);
  background-color: #24588a /* #8fb0a0  */ /* rgb(196, 192, 192) */
    /*  #293a4a */ !important;
  /* animation: 500ms ease-in-out 0s normal none 1 running fadeInDown; */
  padding: 0px 20px 0px 0px;
}
.top__banner__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__user__picture {
  border: solid grey 1px;
  width: 50px;
  height: 50px;
  background-image: url('../../images/default.png');
  border-radius: 50%;
}
.logo {
  color: lemonchiffon;
  font-family: cursive;
  font-size: 22pt;
  font-weight: bold;
}
.header__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  text-decoration: none;
}
.bi-basket,
.bi-heart,
.bi-person-square {
  color: white;
  font-size: 20px;
}
.header__edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__edit__hide {
  display: none;
}
.header__edit:hover > .header__edit__hide {
  display: block;
  color: red;
  font-size: 12px;
}
@media only screen and (max-width: 600px) {
  .header {
    width: 100%;
    margin: auto;
    font-size: medium;
    justify-content: space-around;
  }
  body {
    background-color: lightblue;
  }
  .logo {
    font-size: 16pt;
  }
}
