.product__div {
  width: 20%;
  font-size: small;
}
.product__card {
  //border: solid rgb(226, 230, 230);
  position: relative;
  /* border-radius: 0.5em; */
  //background-color: rgb(216, 218, 218);
  //box-shadow: 0px 1px 1px 1px rgb(187, 190, 190);
  margin: 10px 5px;
  border-radius: 0.9em;
  height: 400px;
  width: 90%;
}
.product__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product__icons__div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.fa-star {
  font-size: 14px;
  color: purple;
}
.fa-heart {
  color: grey;
}
.fa-heart:hover {
  font-size: 14px;
  color: rgb(47, 89, 145);
}
.bi-bag-plus {
  font-size: 14pt;
  color: black;
}
.fa-info {
  font-size: 14pt;
  color: black;
  flex: 2;
}

.product__code {
  color: white;
}
.card__details {
  display: none;
}
.product__div :hover {
  position: absulute;
  z-index: 10;
  transform: scale(1.02);
}
.product__div :hover > .product__code {
  color: black;
}
/* .product__div :hover > .card__details {
  display: block;
} */
.carousel {
  padding: 15px;
}
.product__image {
  width: 150px;
}
.cardButtons__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .product__div {
    width: 48%;
    margin: auto;
    font-size: medium;
  }
  .card {
    height: 420px;
    margin-bottom: 15px;
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .product__div {
    width: 100%;
    margin: auto;
    font-size: medium;
    margin-bottom: 15px;
  }
  .card {
    height: 400px;

    width: 86%;
    margin: auto;
  }
}
