.product__div {
  height: 300px;
  width: 12rem;
  font-size: small;
}
.product__card {
  border: solid #f0f0eb 1px;
  padding: 0px 20px;
  position: relative;
  /* border-radius: 0.5em; */
  background-color: white;
  box-shadow: 0px 1px 1px 1px rgb(187, 190, 190);

  border-radius: 0.9em;
}
.product__top {
  display: flex;
  justify-content: space-between;
}
.fa-heart {
  font-size: 18px;
  color: purple;
}
.fa-heart:hover {
  font-size: 14px;
  color: rgb(47, 89, 145);
}

.product__code {
  color: white;
}
.card__details {
  display: none;
}
.product__div :hover {
  position: absulute;
  z-index: 10;
  transform: scale(1.02);
}
.product__div :hover > .product__code {
  color: black;
}
.product__div :hover > .card__details {
  display: block;
}
.carousel :hover {
  color: red;
}
.product__image__div {
  width: 100%;
}
.product__image {
  width: 150px;
}
.cardButtons__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 1200px) {
  .product__div {
    height: 60vh;
  }
}
