.product__div {
  width: 22%;
  font-size: small;
}
.product__card {
  border: none;
  position: relative;
  /* border-radius: 0.5em; */
  //background-color: rgb(250, 255, 255);
  //box-shadow: 3px 3px 0px 0px rgb(187, 190, 190);
  box-shadow: 1px 0px 0px 0px rgb(237, 235, 235);
  margin: 10px 5px;
  border-radius: 0.5em;
  min-height: 350px;
  width: 100%;
  background-color: #F8F9FA;
}
.product__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product__icons__div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.fa-star {
  font-size: 14px;
  color: purple;
}
.fa-heart {
  color: grey;
}
.fa-heart:hover {
  font-size: 14px;
  color: rgb(47, 89, 145);
}
.bi-bag-plus {
  font-size: 14pt;
  color: black;
}
.fa-info {
  font-size: 14pt;
  color: black;
  flex: 2;
}

.product__code {
  color: white;
}
.card__details {
  display: none;
}
.product__div :hover {
  position: absulute;
  z-index: 10;
  transform: scale(1.02);
}
.product__div :hover > .product__code {
  color: black;
}
/* .product__div :hover > .card__details {
  display: block;
} */
.carousel {
  padding: 0px 15px;
}
.product__image {
  width: 150px;
}
.cardButtons__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .product__div {
    width: 48%;
    margin: auto;
    font-size: medium;
  }
  .card {
    margin-bottom: 15px;
    width: 100%;
    height: 400px;
  }
}
@media only screen and (max-width: 450px) {
  .product__div {
    width: 100%;
    margin: auto;
    font-size: medium;
    margin-bottom: 15px;
  }
  .card {
    min-height: 350px;
    width: 90%;
    margin: auto;
  }
  .carousel {
    width: 60%;
    margin: auto;
  }
}
@media only screen and (min-width: 1100px) {
  .product__div {
    width: 23%;
    margin: auto;
    font-size: medium;
  }
  .card {
    margin-bottom: 15px;
    width: 100%;
    height: 450px;
  }
}
