.theme {
  margin: auto;
  color: white;
  text-align: center;
  padding: -10px;
}

.blue {
  background-color: #efe9e4;
  color: black;
}
.purple {
  background-color: purple;
}
.cyan {
  background-color: #2ed2f2;
}
