.product__details__div {
  padding-top: 0vh;
  width: 80%;
  margin: auto;
  margin-top: 3vh;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.product__details__card {
  border: solid white 1px;
  border-radius: 0.5em;
  padding-top: 10vh;
}
.product__details__code {
  display: none;
}

.left {
  width: 50%;
  border: solid white 1px;
  padding: 0px 5px;
  border-radius: 0.5em;
  background-color: white;
  padding-top: 12vh;
}
.product__code {
  color: white;
}
.product__cardd__details {
  display: block;
}
.product__details__stars {
  padding-left: 0;
}

.detail__fa__icons {
  font-size: small;
  display: inline;
}
@media only screen and (max-width: 450px) {
  .product__details__div {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 5vh;
    align-items: center;

    flex-direction: column;
  }
  .left {
    width: 90%;
  }
  .right {
    width: 90%;
  }
  .product__details__card {
    border: solid white 1px;
    border-radius: 0.5em;
    padding-top: 3vh;
    width: 90%;
  }
  .carousel__details {
    height: 40vh;
    width: 15rem;
    border-bottom: 0vh;
  }
}
