.footer {
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;
  margin-top: 10vh;
  padding-top: 4vh;
  padding-right: 2rem;
}
.footer__nav__ul li,
.footer__social li {
  list-style: none;
}
.footer__social {
  padding-top: 10vh;
  display: flex;
  justify-content: space-around;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
.footer__newsletter {
  padding-left: 8vw;
}
@media only screen and (max-width: 600px) {
  .footer {
    width: 100%;
    font-size: medium;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .jumbotron {
    height: 10px;
  }
}
