.admin__page__div {
  width: 95%;
  margin: 2vh auto;
  padding: 2vh 3rem;
  margin-top: 14vh;
}
.admin__nav {
  border-bottom: rgb(228, 225, 225) solid;
}
.admin__main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
