.admin__page__div {
  width: 95%;
  margin: 2vh auto;
  padding: 2vh 3rem;
  margin-top: 14vh;
}
.admin__nav {
  border-bottom: rgb(228, 225, 225) solid;
}
.admin__main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  .admin__page__div {
    width: 100% !important;
    margin: 2vh auto;
    padding: 0vh 0rem;
    margin-top: 14vh;
  }
  .admin__page__div h3 {
    text-align: center;
  }
}
